<dec f='codebrowser/nss/nss_database.c' l='81' type='0'/>
<use f='codebrowser/nss/nss_database.c' l='138' c='nss_database_select_default'/>
<doc f='codebrowser/nss/nss_database.c' l='81'>/* &quot;nis [NOTFOUND=return] files&quot;.  */</doc>
