<dec f='codebrowser/support/resolv_test.c' l='584' type='struct resolv_redirect_config'/>
<use f='codebrowser/support/resolv_test.c' l='677' u='m' c='server_thread_udp_process_one'/>
<use f='codebrowser/support/resolv_test.c' l='747' u='m' c='server_thread_udp_single'/>
<use f='codebrowser/support/resolv_test.c' l='923' u='m' c='server_thread_tcp_client'/>
<use f='codebrowser/support/resolv_test.c' l='1131' u='w' c='resolv_test_start'/>
<use f='codebrowser/support/resolv_test.c' l='1238' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1241' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1249' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1259' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1263' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1266' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1268' u='m' c='resolv_test_end'/>
<use f='codebrowser/support/resolv_test.c' l='1272' u='m' c='resolv_test_end'/>
<offset>1536</offset>
