<dec f='codebrowser/nss/nsswitch.c' l='897' type='void free_defconfig()'/>
<use f='codebrowser/nss/nsswitch.c' l='897' u='a'/>
<def f='codebrowser/nss/nsswitch.c' l='897' ll='909' macro='1' type='void free_defconfig()'/>
